@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 19, 18, 18;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 19, 18, 18;
  }
}

footer {
  background: rgb(var(--background-start-rgb))
}
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb))
}

section {
  width: 100%;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
